@import "../../../../assets/styles/setup"

.friends
	padding: 15px
	display: flex
	justify-content: flex-end
	+r(522)
		margin-left: 0
		justify-content: flex-start

	&__item
		position: relative
		width: 30px
		height: 30px
		border-radius: 50%
		overflow: hidden

		&:not(:last-child)
			margin-right: 5px
