.button
  position: relative
  width: fit-content
  cursor: pointer
  overflow: hidden
  border-radius: 20px

  &__top,&__bottom
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    padding: 7px 15px
    +f(11px, 1, 1px, uppercase)
    white-space: nowrap

  $this: &
  &:hover
    #{$this}__top
      transform: translateX(-100%)
      transition-delay: .25s

    #{$this}__bottom
      opacity: 1
      transform: translateX(0)
      +trans(all, .35s, ease)
      transition-delay: .15s

  &__top
    position: absolute
    width: 100%
    height: 100%
    transform: translateX(0)
    +trans(transform, .35s, ease)

  &__bottom
    opacity: 0
    transform: translateX(-100%)
    transition: transform .25s ease, opacity .25s ease .15s
