@import "../../../../assets/styles/setup"

.tab-overview
  display: flex
  flex-flow: row wrap

  .section-title
    margin-bottom: 10px
    font-size: 13.2px
    letter-spacing: 1.25px
    text-transform: uppercase
    color: $c-grey

  &__artist
    padding-right: 15px
    width: 70%
    +r(1024)
      width: 100%
    +r(768)
      padding-right: 0

  &__related
    width: 30%
    +r(1024)
      margin-top: 15px
      width: 100%

  &__albms
    margin-top: 30px
    width: 100%
