@import "../../assets/styles/setup"

.button-more
  width: 27px
  height: 27px
  display: flex
  justify-content: center
  align-items: center
  background-color: transparent
  color: $c-sand
  border: 1px solid $c-sand

  &:hover
    svg
      fill: $c-green

  svg
    +trans(fill, .65s, ease)
