@import "../../../../assets/styles/setup"

.track
	$this: &

	&_albums
		+r(1200)
			height: auto
			padding: 10px 0

		#{$this}__number
			flex: none
			margin-left: 10px
			width: 12px
			color: $c-grey

			#{$this}__play
				&:hover
					svg
						filter: drop-shadow(3px 3px 2px $c-green)

			svg
				width: 16px
				height: 16px
				color: $c-grey
				+trans

			#{$this}__play
				margin: 0 -5px
				display: flex
				justify-content: center
				align-items: center
				width: calc(100% + 10px)

		#{$this}__added
			+pseudo
			flex: none
			margin-left: 30px
			width: 14px
			display: flex
			justify-content: center
			align-items: center
			color: $c-sand

			&:hover
				svg
					filter: drop-shadow(3px 3px 2px $c-green)

			&.is-active
				&::before
					animation: glow .25s

			&::before
				+center(both)
				z-index: -1
				width: 30%
				height: 30%
				border-radius: 10px

			svg
				color: $c-grey
				+trans

		#{$this}__title
			margin: 0 10px 0 30px
			width: 70%
			display: flex
			flex-flow: row wrap
			color: $c-white
			+r(1200)
				margin: 0 30px
				width: auto

			&.featured
				.title
					&::after
						content: "-"
						margin: 0 5px

			.feature
				+pseudo
				color: $c-grey

				&:hover
					text-decoration: underline

		#{$this}__explicit
			margin-right: 10px

		#{$this}__length
			margin-left: auto
			color: $c-grey

		#{$this}__popularity
			margin-left: 46px
			padding-right: 10px
			color: $c-grey

			svg
				width: 17.5px
				height: 24px
