@import "../../assets/styles/setup"

.button-play
  background-color: $c-green
  border: 1px solid $c-green

  &__top,
  &__bottom
    padding-left: 34px
    color: $c-white

    svg
      +center(v)
      left: 15px
      width: 14px
      height: 14px
