@import "../../../../assets/styles/setup"

.dropdown
	position: relative

	&__button
		padding: 5px
		display: flex
		justify-content: center
		align-items: center
		color: $c-grey
		cursor: pointer
		+trans

		&:hover
			color: $c-white

		&.is-active
			transform: rotate(180deg)

		svg
			width: 26px
			height: 26px

	&__list
		position: absolute
		top: 100%
		right: 0
		z-index: 10
		margin-top: 25px
		padding: 0
		background-color: $c-light-black
		border: none
		border-radius: 2px
		transform: scaleY(0)
		transform-origin: 0 0
		+trans
		transition-delay: .35s

		&.is-visible
			transform: scaleY(1)
			transition-delay: 0s

			li
				a
					opacity: 1
					transition-delay: .35s

		li
			padding: 10px
			margin: 0
			overflow: hidden
			+trans

			&:hover
				background-color: $c-grey

				a
					color: $c-sand
					+trans(color, .35s, ease)

			a
				padding: 3px 20px
				clear: both
				font-weight: 500
				white-space: nowrap
				color: $c-grey
				opacity: 0
				+trans
				transition-delay: 0s
